   
   <table>
    <tr>
        <th> From </th>
        <th> To </th>
        <th> Depart </th>
        <th> Return </th>
        <th> Passenger </th>
        <th> Full Name</th>
        <th> Email</th>
        <th> Status</th>
        <!-- <th> </th> -->
    </tr>
        <% for(var i=0; i < todos.length; i++) { %>
        <tr>
            <td><%= todos[i].from %></td>
            <td><%= todos[i].to %></td>
            <td><%= todos[i].depart %></td>
            <td><%= todos[i].dreturn %></td>
            <td><%= todos[i].passengers %></td>
            <td><%= todos[i].fullname %></td>
            <td><%= todos[i].email %></td>
            <% if (todos[i].send_quote == false) { %>
            <td><button type="button" class="btn btn-primary"><a href="/sales_agent/send_lead/<%= todos[i].id %>" data-method="PUT" style="color:white"> Send </a></button> </td>
            <% } else{ %> 
                <td>sent</td>
                <% } %>
        </tr>
        <% } %>
</table>