   
   <table>
        <tr>
            <th> From </th>
            <th> To </th>
            <th> Depart </th>
            <th> Return </th>
            <th> Passenger </th>
            <th> Full Name</th>
            <th> Email</th>
            <th> Status</th>
            <!-- <th> </th> -->
        </tr>
            <% for(var i=0; i < todos.length; i++) { %>
            <tr>
                <td><%= todos[i].from %></td>
                <td><%= todos[i].to %></td>
                <td><%= todos[i].depart %></td>
                <td><%= todos[i].dreturn %></td>
                <td><%= todos[i].passengers %></td>
                <td><%= todos[i].fullname %></td>
                <td><%= todos[i].email %></td>
 
                <td><button type="button" class="btn btn-primary"><a href="/ticketagents/send_mail/<%= todos[i].id %>"  style="color:white"> Generate e-ticket </a></button> </td>                 
                
            </tr>
            <% } %>
    </table>